.header{
    height: 22vh;
    width: 100%;
    border-radius: 7px;
    background-image:url("/src/assets/bg5.jpg");      
    box-shadow: 8px -8px 15px 0px rgba(0, 0, 0, 0.3);
    background-size: cover;    
    background-position: center; 
    background-repeat: no-repeat;
}
.logo img{
    height: 70px;
    width: 70px;
}
.top{
    height: 9vh;
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 5px;
}
.links a{
    color: aliceblue;
    margin-left: 10px;
    font-size: 21px;
    text-decoration: none;
}
.name{
    margin-top: 10px;
}
.appname{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 45px;
    font-weight: 400;
}
.desc{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 20px;
}